/** @format */
.btn {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 7px 15px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 0.5rem;
  transition-duration: 0.6s; }

.btn-primary {
  background: #3c4048;
  color: #b2b2b2;
  border: 2px solid #3c4048; }

.btn-primary:hover {
  background: #b2b2b2;
  color: #3c4048;
  border: 2px solid #3c4048; }
