/** @format */
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css);
@font-face {
  font-family: myFont;
  src: url(../font/SF-Pro.ttf); }

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  color: #b2b2b2;
  font-family: myFont; }

.header {
  width: 100%;
  background-color: #3c4048;
  padding: 0.8rem 1.6rem; }
  .header .logo {
    font-size: 2rem;
    font-weight: 500; }
  .header .nav {
    display: inline-block;
    width: calc(100% - 10rem);
    text-align: right;
    vertical-align: middle; }
    .header .nav .nav-item {
      display: inline-block;
      margin: 0 1rem; }
    .header .nav .nav-item:last-child {
      display: none; }
