$header-bg-color: #3c4048;
$txt-color: #b2b2b2;
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  color: $txt-color;
  font-family: myFont;
  box-sizing: border-box;
}
.header {
  width: 100%;
  background-color: $header-bg-color;
  padding: 0.8rem 1.6rem;
  position: fixed;
  z-index: 1;
  top: 0;
}
.logo {
  font-size: 2rem;
  font-weight: 500;
}

.nav {
  display: inline-block;
  width: calc(100% - 10rem);
  text-align: right;
}
